html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #ebebe3;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
   overflow: hidden;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-color: #4a4a48;
   padding: 5px 10px 5px 10px;
   height: 80px;
}

header a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0 10px 0px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#logo {
    font-size: 20px;
    float: left;
    color: #edb228;
}

.navigation-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.nav-link-btn {
    /*background-color: white;*/
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    display: inline-block;
}

main {
    flex-grow: 1;
    padding: 20px;
}

header, main, footer {
    flex-shrink: 0;
}

.description {
    padding: 5px;
}

.description p {
    font-size: 40px;
    color: black;
}

#register {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    margin: 20px auto 0 auto;
    background-color: #edb228;
    border-radius: 3px;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
}

#register a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

footer {
    background-color: #4a4a48;
    color: #edb228;
    height: 100px;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 20px;
}

.footer-content {
    font-style: italic;
}

/* Form Contents */
.main-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #000000;
}

input:focus {
    border-color: gray;
}

input#latitude, input#longitude {
    border-color: gray;
}
.main-inner input {
   font-size: 120%;
}

#main-inner-label {
    font-size: 24px;
}

.main-search-bar {
    max-width: 300px;
    margin: 20px auto 0 auto;
    display: flex;
}

.main-search-inner {
    color: #FFF;
    font-size: 20px;
    margin: auto;
}

.report-search-form {
    margin: 0 auto;
}

.report-search-form-text {
    padding:10px 15px;
    border:0px solid #dbdbdb;
}

.report-search-form-button {
    position:relative;
    padding:8px 15px;
    left:-8px;
    border:2px solid #edb228;
    background-color:#edb228;
    color:#fafafa;
}

.report-search-form-button:hover {
    color: #000000;
}

.create-report {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    height: 500px;
    margin: 0 auto;
    /*text-align: center;*/
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    max-width: 500px;
}

#submit, #geolocation {
    color: #211d1d;
    background-color: #edb228;
    border: none;
    padding: 10px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px auto 0 auto;
}

#create-report-label {
    color: #edb228;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

select#choose-report-type {
    width: 400px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

textarea {
    border: 3px solid #000000;
    border-radius: 5px;
}

.form-inner-content {
    margin: 10px 0 10px 0;
    width: 500px;
}

.report-content {
    width: 400px;
}

#report-detail {
    height: 100px;
}

.file-upload-outer {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.file-upload-btn, .main-search-btn {
    border: 2px solid gray;
    color: black;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
}

.file-upload-outer input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* Form Contents */

.main-search-content {
    background-color: white;
    max-width: 1300px;
    height: 200px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    display: flex;
}

.main-search-content-type {
    background-color: #edb228;
    display: flex;
    flex: 1;
    font-weight: bold;
}

.home-report-type {
    margin: auto;
    text-align: center;
}

.main-search-content-description {
    display: flex;
    flex: 3;
    padding: 5px;
}

.main-search-content-options {
    background-color: #211d1d;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-search-image {
    margin: auto;
}

.main-search-video {
    margin: auto;
}

.main-search-location {
    margin: auto;
}

.main-search-btn:hover {
    background-color: #edb228;
}


.report-statistics {
    max-width: 1400px;
    margin: 0px auto 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.report-status-resolved, .report-status-unresolved, .report-status-rejected {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: #FFF;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.report-status-resolved {
    background-color: green;
}

.report-status-unresolved {
    background-color: orange;
}

.report-status-rejected {
    background-color: red;
}

.report-statistics-labels {
    margin: 5px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
    text-align: center;
}

.report-label:nth-child(1) {
    background-color: green;
    flex: 1;
}

.report-label:nth-child(2) {
    background-color: orange;
    flex: 1;
}

.report-label:nth-child(3) {
    background-color: red;
    flex: 1;
}